{% extends "dashboard.html" %}

{% block conteudo %} 
    <div class="container" id="container">
        <div class="opcoes" id="opcoes">
            <a class="perfil" href="#">Perfil</a>
            <a href="#">Sair</a>
        </div>
        {% include 'menu2.html' %}      
        <div class="conteudo">
            {{flash()}}  
            <div class="linkHome">
                <h5 class="postsHome">
                    <a href="{{ url('admin/dashboard') }}" style="text-decoration: none; color: white;">Home</a>
                </h5>
                <h5 class="totalPosts total">
                    <a href="{{ url('admin/categorias/listar') }}" style="text-decoration: none; color: white;">Categorias</a>
                </h5>
            </div>
            <div class="form">
                <form action="{%if categorias.id%}{{ url('admin/categorias/editar/'~categorias.id) }}{%else%}{{ url('admin/categorias/cadastrar') }}{%endif%}" method="post">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" value="{{categorias.titulo}}" name="titulo" id="titulo" class="form-control" >
                    </div>

                    <div class="mb-3">
                        <label for="texto" class="form-label">Texto</label>
                        <textarea name="texto" id="texto" class="form-control" rows="3">{{categorias.texto}}</textarea>
                    </div>

                    <div class="categoriaEstatus">
                        <div class="select status">
                            <label id="status" for="status" class="form-label">
                                Status
                            </label>
                            <select name="status" id="status" class="form-select" aria-label="Default select example">
                                    <option value="1" {%if categorias.status=="1"%}selected{%endif%}>Ativado</option>
                                    <option value="0" {%if categorias.status=="0"%}selected{%endif%}>Desativado</option>
                            </select>
                        </div>
                    </div>
                    <div class="btnCadastrar">
                        {% if categorias %}
                            <input type="submit" value="Atualizar">
                        {% else %}
                            <input type="submit" value="Cadastrar" >
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
