<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="navbar navbar-dark list-unstyled bg-dark col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-5">
          <li>
            <a href="{{url()}}" class="nav-link px-2" tooltip="tooltip" title="Página Inicial"  style="margin-right: 15px;">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="margin-right: 15px;">Categorias</a>
            <ul class="dropdown-menu">
              {% for categoria in categorias %}
                <li>
                  <a class="dropdown-item" href="{{url('categoria/'~categoria.slug)}}">
                    {{categoria.titulo}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="{{url('sobre-nos')}}" class="nav-link px-2 text-white" tooltip="tooltip" title="Sobre Nós"  style="margin-right: 15px;">Sobre nós</a>
          </li>
        </ul>

        <form data-url-busca="{{url('buscar')}}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input id="busca" name="busca" class="form-control form-control-dark text-black bg-light" placeholder="Buscar..." aria-label="Search">
        </form>

        <div class="text-end">
          <a type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">
            {% if usuario() %}
              {{usuario().nome}}
            {% else %}
              Entrar
            {% endif %}
          </a>
          {% if usuario() %}
          <a href="{{url('sair')}}" type="button" class="btn btn-warning">
            Sair
          </a>
          {% else %}
          <a type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerModal">
            Cadastre-se
          </a>
          {% endif %}        
        </div>
      </div>
      
      {% if not usuario() %}
      <!-- Modal de Login -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel" style="color: black;">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
              <form action="{{ url('loginFront') }}" method="post">
                <div class="mb-3">
                  <label for="emailInput" class="form-label" style="color: black;">Email</label>
                  <input type="email"  name="email" class="form-control" id="emailInput" placeholder="Digite seu email">
                </div>
                <div class="mb-3">
                  <label for="passwordInput" class="form-label" style="color: black;">Senha</label>
                  <input type="password" name="senha" class="form-control" id="passwordInput" placeholder="Digite sua senha">
                </div>
                <input type="submit" class="btn btn-dark" value="entrar" style="margin-left: 35%; width: 150px;">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Modal de Cadastro -->
      {% if not usuario().id %}
      <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModalLabel" style="color: black;">Cadastro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url('cadastroFront') }} " method="post">
                <div class="mb-3">
                  <label for="nameInput" class="form-label" style="color: black;">Nome</label>
                  <input type="text" name="nome" class="form-control" id="nameInput" placeholder="Digite seu nome">
                </div>
                <div class="mb-3">
                  <label for="emailRegisterInput" class="form-label" style="color: black;">Email</label>
                  <input type="email" name="email" class="form-control" id="emailRegisterInput" placeholder="Digite seu email">
                </div>
                <div class="mb-3">
                  <label for="passwordRegisterInput" class="form-label" style="color: black;">Senha</label>
                  <input type="password" name="senha" class="form-control" id="passwordRegisterInput" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-dark" style="margin-left: 35%; width: 150px;">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div id="buscaResultado"></div>
    </div>
  </header>