
{% extends "base.html" %}
{% block corpo %}

<main>
{% include 'topo.html' %}
{% include 'menu.html' %}
{% block conteudo %} 
    <div class="container" id="container">
        <div class="opcoes" id="opcoes">
            <a class="perfil" href="#">Perfil</a>
            <a href="{{url('admin/sair')}}">Sair</a>
        </div>

        {% include 'menu2.html' %}   
                
        <div class="conteudo">
            <div style="display: flex;">
                <h5 style="margin-bottom: 25px;"><b>Dashboard</b> - {{saudacao()}}, {{usuario().nome}}. Seu ultimo login foi em {{ usuario().ultimo_login|date("d/m/Y")}} às {{usuario().ultimo_login|date('H:i') }}</h5>
            </div>

            {{ flash() }}

            <div class="infosDash">
                <div class="posts Dash">  
                    <a href="{{ url('admin/posts/listar') }}">
                        <i class="fa-sharp fa-solid fa-file-pen" id="iDash"></i>
                    </a>
                    <h4>Posts</h4>
                    <div class="ativoInativo">
                        <h5 class="totalPostsDash"> {{ posts.total }} Total</h5>
                        <h5 class="ativoPostsDash"> {{ posts.ativo }} Ativo</h5>
                        <h5 class="inativoPostsDash"> {{ posts.inativo }} Inativo</h5>
                    </div>
                    <hr>
                    <div class="ultimosPosts Dash">
                        <h5>
                            Ultimos posts
                        </h5>
                        <a href="{{url('admin/posts/cadastrar')}}" >
                            <i class="fa-solid fa-circle-plus" id="iDash" style="top: 10px;"></i>
                        </a>
                        
                        <div class="posts">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Titulo</th>
                                        <th>Visitas</th>
                                        {% if usuario().level==3 %}
                                            <th scope="col">Ação</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for post in posts.posts %}
                                        <tr>
                                            <td>
                                                {% if post.status==1 %}
                                                <img class="icon Ipost" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Circulo_verde.png" alt="">
                                                {% else %}
                                                <img class="icon Ipost" src="https://cdn.pixabay.com/photo/2022/01/01/15/22/red-6907837_1280.png" alt="">
                                                {% endif %}
                                                <span style="margin-left: 25px;">
                                                    {{post.titulo}}
                                                </span>
                                                <br>
                                                <small class="text-muted fw-normal">
                                                    Escrito por {{post.usuario.nome}} {{ contarTempo(post.cadastrado_em) }} em {{post.categoria.titulo |upper}}
                                                </small>
                                            </td>
                                            <td>
                                                {{post.visitas}}
                                            </td>
                                            <td>
                                                {% if usuario().level==3 %}
                                                <a style="color: blue; text-decoration: none;" href="{{url('admin/posts/editar/'~post.id)}}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a style="margin-left: 10px; color: brown; text-decoration: none;" href="{{ url('admin/posts/apagar/'~post.id) }}">
                                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="categorias Dash">
                    <a href="{{ url('admin/categorias/listar') }}">
                        <i class="fa-solid fa-list" id="iDash"></i>
                    </a>
                    <h4>Categorias</h4>
                    <div class="ativoInativo">
                        <h5 class="totalPostsDash"> {{ categorias.total }} Total</h5>
                        <h5 class="ativoPostsDash"> {{ categorias.ativo }} Ativa</h5>
                        <h5 class="inativoPostsDash"> {{ categorias.inativo }} Inativa</h5>
                    </div>
                    <hr>
                    <div class="ultimosCategorias Dash">
                        <h5>Ultimas categorias</h5>
                        <a href="{{url('admin/categorias/cadastrar')}}" >
                            <i class="fa-solid fa-circle-plus" id="iDash" style="top: 10px;"></i>
                        </a>
                        <div class="posts">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titulo</th>
                                            {% if usuario().level==3 %}
                                                <th scope="col">Ação</th>
                                            {% endif %}                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for categoria in categorias.categorias %}
                                            <tr>
                                                <td>
                                                    {% if categoria.status==1 %}
                                                        <img class="icon Icategoria" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Circulo_verde.png" alt="">
                                                    {% else %}
                                                        <img class="icon Icategoria" src="https://cdn.pixabay.com/photo/2022/01/01/15/22/red-6907837_1280.png" alt="">
                                                    {% endif %}                    
                                                    <span style="margin-left: 28px;">
                                                        {{ categoria.titulo }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {% if usuario().level==3 %}
                                                        <a id="btnEditar" style="color: blue; text-decoration: none;" href="{{ url('admin/categorias/editar/'~categoria.id) }}">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </a>
                                                        <a style="margin-left: 10px; color: brown; text-decoration: none;" href="{{ url('admin/categorias/apagar/'~categoria.id) }}">
                                                            <i class="fa-sharp fa-solid fa-trash"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>            
                    </div>
                </div>

                <div class="admin Dash" style="width: 48.5%;">
                    <a href="{{ url('admin/usuarios/listar') }}">
                        <i class="fa-sharp fa-solid fa-file-pen" id="iDash"></i>
                    </a>
                    <h4>Admin</h4>
                    <div class="ativoInativo">
                        <h5 class="totalPostsDash"> {{ admin.total }} Total</h5>
                        <h5 class="ativoPostsDash"> {{ admin.ativo }} Ativo</h5>
                        <h5 class="inativoPostsDash"> {{ admin.inativo }} Inativo</h5>
                    </div>
                    <hr>
                    <div class="ultimosAdmin Dash">
                        <h5>
                            Ultimos login
                        </h5>
                        <a href="{{url('admin/usuarios/cadastrar')}}" >
                            <i class="fa-solid fa-circle-plus" id="iDash" style="top: 10px;"></i>
                        </a>
                        
                        <div class="posts">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Nome</th>
                                        <th>Data - Hora</th>
                                        {% if usuario().level==3 %}
                                            <th scope="col">Ação</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for adm in admin.admin %}
                                        {% if usuarios %}
                                        <tr>
                                            <td>
                                                {% if adm.status==1 %}
                                                <img class="icon Ipost" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Circulo_verde.png" alt="">
                                                {% else %}
                                                <img class="icon Ipost" src="https://cdn.pixabay.com/photo/2022/01/01/15/22/red-6907837_1280.png" alt="">
                                                {% endif %}
                                                <span style="margin-left: 25px;">
                                                    {{adm.nome}}
                                                </span>
                                                <br>
                                            </td>
                                            <td>
                                                {% if adm.ultimo_login %}
                                                {{adm.ultimo_login|date("d/m/Y H:i")}}
                                                {% else %}
                                                Não há login!
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if usuario().level==3 %}
                                                <a style="color: blue; text-decoration: none;" href="{{url('admin/usuarios/editar/'~adm.id)}}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a style="margin-left: 10px; color: brown; text-decoration: none;" href="{{ url('admin/usuarios/apagar/'~adm.id) }}">
                                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="admin Dash" style="width: 48.5%;">
                    <a href="{{ url('admin/usuarios/listar') }}">
                        <i class="fa-sharp fa-solid fa-file-pen" id="iDash"></i>
                    </a>
                    <h4>Usuários</h4>
                    <div class="ativoInativo">
                        <h5 class="totalPostsDash"> {{ usuarios.total }} Total</h5>
                        <h5 class="ativoPostsDash"> {{ usuarios.ativo }} Ativo</h5>
                        <h5 class="inativoPostsDash"> {{ usuarios.inativo }} Inativo</h5>
                    </div>
                    <hr>
                    <div class="ultimosAdmin Dash">
                        <h5>
                            Ultimos login
                        </h5>
                        <a href="{{url('admin/usuarios/cadastrar')}}" >
                            <i class="fa-solid fa-circle-plus" id="iDash" style="top: 10px;"></i>
                        </a>
                        
                        <div class="posts">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Nome</th>
                                        <th>Data - Hora</th>
                                        {% if usuario().level==3 %}
                                            <th scope="col">Ação</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for usuario in usuarios.usuarios %}
                                        {% if usuarios %}
                                        <tr>
                                            <td>
                                                {% if usuario.status==1 %}
                                                <img class="icon Ipost" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Circulo_verde.png" alt="">
                                                {% else %}
                                                <img class="icon Ipost" src="https://cdn.pixabay.com/photo/2022/01/01/15/22/red-6907837_1280.png" alt="">
                                                {% endif %}
                                                <span style="margin-left: 25px;">
                                                    {{usuario.nome}}
                                                </span>
                                                <br>
                                            </td>
                                            <td>
                                                {% if usuario.ultimo_login %}
                                                {{usuario.ultimo_login|date("d/m/Y H:i")}}
                                                {% else %}
                                                Não há login!
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if usuario().level==3 %}
                                                <a style="color: blue; text-decoration: none;" href="{{url('admin/usuarios/editar/'~usuario.id)}}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a style="margin-left: 10px; color: brown; text-decoration: none;" href="{{ url('admin/usuarios/apagar/'~usuario.id) }}">
                                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
{% include 'rodape.html' %}
</main>

{% endblock %}
