
{% extends "base.html" %}
{% block corpo %}

<div class="flash">
    {{flash()}}
</div>


<img class="img" src="https://static.vecteezy.com/system/resources/previews/019/879/198/non_2x/user-icon-on-transparent-background-free-png.png" alt="">

<main class="containerFormLogin">

    <div class="topLogin">
        <h1>Painel Administrativo</h1>
    </div>

    <form class="formLogin" action="{{ url('admin/login') }}" method="post">
        <input type="email" name="email" placeholder="Email">
        <input id="senhaLogin" name="senha" type="password" placeholder="Senha">
        <i id="mostrarSenhaLogin" class="fa-regular fa-eye"></i>
        <i id="naoMostrarSenhaLogin" class="fa-regular fa-eye-slash" style="display: none;"></i>
        <input id="entrarLogin" class="entrarLogin" type="submit" value="Entrar">
    </form>
    <p>2024 - LoginTeste</p>
    
</main>

<script>

    const mostrarSenhaLogin=document.getElementById("mostrarSenhaLogin")
    const naoMostrarSenhaLogin=document.getElementById("naoMostrarSenhaLogin")
    const entrarLogin=document.getElementById("entrarLogin")
    const senhaLogin=document.getElementById("senhaLogin")

    let sinalLogin=0

    mostrarSenhaLogin.addEventListener("click", ()=>{
        mostrarSenhaLogin.style.display="none"
        naoMostrarSenhaLogin.style.display="flex"
        senhaLogin.type="text"
        sinalLogin=1
    })

    naoMostrarSenhaLogin.addEventListener("click", ()=>{
        naoMostrarSenhaLogin.style.display="none"
        mostrarSenhaLogin.style.display="flex"
        senhaLogin.type="password"
        sinalLogin=0
    })  

    entrarLogin.addEventListener("click", ()=>{
        
    })


</script>

{% endblock %}
