<div class="menu2" id="menu2">
    <div class="menuItem2">
        <a class="adm" href="#">Administração</a>
        <a href="{{url('admin/posts/listar')}}"> 
            <i class="fa-solid fa-file-signature" style="padding-right: 3%;"></i>
            Posts
        </a>
        <a href="{{url('admin/categorias/listar')}}">
            <i class="fa-solid fa-list" style="padding-right: 3%;"></i>
            Categorias
        </a>
        <a href="#">
            <i class="fa-sharp fa-solid fa-users" style="padding-right: 2%;"></i>
            Usuarios
        </a>
    </div>
</div>