footer {
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 6px;
    margin-top: 100px;
}

.modal{
    margin-top: 100px;
}

/* .modal-header{
    background-color: blue;
}

.modal-body{
    background-color: red;
} */