
/* TELA DE LOGIN */

body{
    display: flex;
    background-color: ghostwhite;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

.img{
    position: absolute;
    top: 65px;
    width: 200px;
}

.flash{
    position: absolute;
    width: 500px;
    top: 5px;
    text-align: center;
    font-weight: bolder;
}


.containerFormLogin{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    top: 190px;

    width: 650px;
    height: 400px;
    margin: auto;
}

.containerFormLogin p{
    display: flex;
    position: absolute;
    bottom: 50px;
    font-weight: lighter;
}

.topLogin{
    position: absolute;
    padding: 10px;
    text-align: center;
}

.topLogin h1{
    font-weight: bold;
    font-size: 2.3em;
}

.topLogin h2{
    font-size: 1.8em;
    font-weight: lighter;
}

.formLogin{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 170px;
    top: 60px;
    font-family: 'Roboto', sans-serif;
}

.formLogin label{
    font-weight: bold;
    font-size: 1.2em;
}

.formLogin input{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.formLogin i {
    display: flex;
    position: absolute;
    top: 112px;
    right: 7px;
    cursor: pointer;
}

.entrarLogin{
    display: flex;
    position: absolute;
    top: 165px;
    background-color: rgb(88, 88, 255);
    color: white;
    font-weight: bold;
}

.entrarLogin:hover{
    background-color: rgb(0, 78, 88);
}







