
/* TELA DE LOGIN */

body{
    background-color: rgba(0, 0, 128, 0.808);
    font-family: 'Open Sans', sans-serif;
}


.containerFormLogin{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    top: 60px;

    width: 650px;
    height: 450px;
    margin: auto;

    background-color: cornflowerblue;

    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.384);
}

.containerFormLogin p{
    display: flex;
    position: absolute;
    bottom: 7px;
    font-weight: lighter;
}

.topLogin{
    position: absolute;
    padding: 10px;
    top: 30px;
    text-align: center;
    color: white;

}

.topLogin h1{
    font-weight: bold;
    font-size: 2.3em;
    color: rgba(0, 0, 0, 0.712);
}

.topLogin h2{
    font-size: 1.8em;
    font-weight: lighter;
}

.formLogin{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 170px;
    top: 140px;
    font-family: 'Roboto', sans-serif;
}

.formLogin input{
    width: 600px;
    padding: 10px;
    margin: 10px;
}

.formLogin i {
    display: flex;
    position: absolute;
    top: 112px;
    right: 6px;
}

.entrarLogin{
    display: flex;
    position: absolute;
    top: 165px;
}







