
/* TELA DE LOGIN */

body{
    background-color: blue;
    font-family: 'Open Sans', sans-serif;
}


.containerFormLogin{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    top: 60px;

    width: 700px;
    height: 450px;
    margin: auto;

    background-color: white;
}

.containerFormLogin p{
    display: flex;
    position: absolute;
    bottom: 0px;
    font-weight: lighter;
}

.topLogin{
    position: absolute;
    padding: 10px;
    top: 30px;
    text-align: center;

}

.topLogin h1{
    font-weight: bold;
    font-size: 2.3em;
}

.topLogin h2{
    font-size: 1.8em;
    font-weight: lighter;
}

.formLogin{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 170px;
    top: 140px;
    font-family: 'Roboto', sans-serif;
}



.formLogin input{
    width: 600px;
    padding: 10px;
    margin: 10px;
}

.entrarLogin{
    display: flex;
    position: absolute;
    top: 180px;
}

.mostrarSenhaLogin{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    right: -15px;
    width: 140px;
    top: 155px;
}

.mostrarSenhaLogin label{
    font-weight: lighter;
}

#mostrarSenhaLogin{
    display: flex;
    position: absolute;
    width: 25px;
    right: 0px;
    cursor: pointer;
}






